*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif Courier, monospace
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #161623;
    min-height: 100vh;
}
section{
    position: relative;
}
section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(223, 108, 108), rgb(112, 11, 112));
    clip-path: circle(30% at right 70%);
}
section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#4c82ad, #8f289c);
    clip-path: circle(20% at 10%  10%);
}
.con{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px 0;
}
.con .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.con .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.con .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}
.con .card .content .img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0,25);
}
.con .card .content .img img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.con .card .content .contentBx h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.con .card .content .contentBx  p{
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #fff;
}
.con .card .sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}
.con .card .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
}
.con .card .sci li a{
    color: #fff;
    font-size: 16px;
}
.con .card:hover .sci li{
    transform: translateY(0);
    opacity: 1;
}